{% extends "layout.html" %}  


{% block script %}
 <script src ="/js/chat.js"></script>
{% endblock %}  
{% block style %}  
    <link rel="stylesheet" href="/css/chat.css">
{% endblock %}


{% block content %}  
<form method = "get" action="/chat/room" autocomplete="off">
    <dl>
        <dt>방이름</dt>
        <dd>
            <input type="text" name ="room">
        </dd>
    </dl>
    <dl>
        <dt>사용자명</dt>
        <dd>
            <input type="text" name ="userNm">
        </dd>
    </dl>
    <input type="submit" value ="입장하기">
</form>
{% endblock %}