{% extends "layout.html" %}

{% block script %}  
<script src ="/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock %}  

{% block style %}  
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}  

{% block content %} 
<div class="nav">
 <div class="box logo">
    <a href="/"><i class ="xi-hotel"></i> YOONSHOTEL</i></a>
 </div>
   
   <div class="box info">
{% if isLogin %} 
{{ member.memId}}님 로그인..
<a href="/member/mypage"><i class ="xi-home"></i>마이페이지</a>
<a href="/member/logout"><i class ="xi-log-out"></i>로그아웃</a>
{% else %}
<a href="/member/login"><i class ="xi-log-in"></i>로그인</a>
<a href="/member/join"><i class ="xi-log-out"></i>회원가입</a>
    
{% endif %} 
</div>
</div>

 <!-- swiper 영역 S -->
 <section class="swiper">
   <div class="swiper-container">
       <div class="swiper-wrapper">
         <div class="swiper-slide banner">
             <img src="img/hotel1.jpg" alt="">
         </div>
         <div class="swiper-slide banner">
           <img src="img/hotel2.jpg" alt="">
         </div>
         <div class="swiper-slide banner">
           <img src="img/hotel3.jpg" alt="">
         </div>
       </div>
       <!-- Add Arrows -->
       <div class="swiper-pagination"></div>
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
   </div>
</section>


 <!-- swiper 영역 E -->

{% endblock %}  
