@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* 공통 s*/
body{ padding: 0; margin:0;}
a { text-decoration: none; color:black;}

* { font-family: 'Noto Sans KR', sans-serif !important;}
ul { list-style: none; padding:0; margin:0;}


/* 공통 E */
.form_wrap .title { font-weight: 700; text-align: center; font-size: 17px; margin-bottom: 30px;}
dl { display: table; width:100%;}
dt { display: table-cell; width:120px; vertical-align: middle;}
dd { display: table-cell;}



input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    width:100%; height:30px; border-radius: 7px; outline: none; border: 1px solid #948c8c;
    margin-bottom: 10px;
}

.form_wrap { width:500px; position: fixed; left: 360px; top: 70px; }
.form_wrap .btn1 {display: block; width:100%; height:40px; background-color: black; color:white;
cursor: pointer; border-radius: 10px;}
.form_wrap .btn1:hover { background-color: cornflowerblue; color:white; border:0;}
.form_wrap .logo {text-align: center; font-size: 24px; margin-bottom: 20px;}


/* main페이지 상단메뉴 */
.nav  {  background-color: 
    #dedcd7; padding : 10px;}
.nav .logo {float:left; width: calc( 100% / 2 + 30px); text-align: right;
font-size: 20px;}
.nav .info {float: right;  line-height: 30px;}
.nav .info a { padding:5px;}
.nav:after{ clear:both; content: ""; display: block;}


/* swiper 메인 배너영역 S */

.swiper-container{
    height:600px;
    margin-bottom:60px;
}

.swiper-container img{
    height:600px;
    width:100%;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev{
    color:#dedcd7;
}

.swiper-container .swiper-pagination-bullet{
    width:12px;
    height:12px;
    
    box-shadow: 2px 2px 3px white;
    
}
.swiper-container .swiper-pagination-bullet-active{
    width:70px;
    border-radius: 20px;
    background-color:#dedcd7;
}
/* swiper 메인 배너영역 E */


/* 게시판 board */
.writeboard { width: 200px; height: 40px; margin:0 auto; display: block;
background-color: #dedcd7; color:black; border:0; cursor: pointer; border-radius: 10px;
margin-top:30px;}

#addImage { position:absolute; left: 130px;}

.board_info { margin:0 auto; margin-top : 60px; width: 500px; display: block; 
border-right: 2px solid #dedcd7; border-left: 2px solid #dedcd7; border-radius: 15px;}
.board_info div { border-bottom:  2px solid #dedcd7; padding: 10px; border-radius: 15px;}
.board_info div:first-child { border-top: 2px solid #dedcd7; border-radius: 15px;}
.board_info .contents .box1 { position: absolute; top: 2px; left: 10px;}
.board_info .contents .box2 { position: absolute; top: -14px;}
.board_info .contents { padding: 50px; position: relative; }

.board_info2 { text-align: center; margin-top: 30px;}
.board_info2 a { display: inline-block; background-color: #dedcd7; color:black;
width: 100px; height: 30px; line-height: 30px; margin:0 10px; border-radius: 10px;}
.board_info2 a:hover { background-color: black; color: white;}

/* board/list */
.board_list {margin:0 auto; width: 600px; border: 4px solid #dedcd7; margin-top:80px; padding:30px;
border-radius: 15px;}
.board_list li { border-bottom: 2px solid #dedcd7; padding:15px;}
.board_list li:hover a { color: lightsalmon;}
.board_list .pagination {text-align: right;}