{% extends "../layout.html" %} 

{% block content %}
<div class="form_wrap">
<form method ="post" action="/member/join" target ="ifrmHidden" autocomplete="off">
  <div class="logo">
    <a href="/"> 
     <i class ="xi-hotel"></i> 
     <span>YOONSHOTEL</span>
    </a> 
   </div> 
   <div class="title">회원가입</div>
    <dl>
        <dt>아이디</dt>
        <dd>
            <input type="text" name ="memId">
        </dd>
    </dl>
    <dl>
        <dt>비밀번호</dt>
        <dd>
            <input type="password" name ="memPw">
        </dd>
    </dl>
    <dl>
        <dt>비밀번호확인</dt>
        <dd>
            <input type="password" name ="memPwRe">
        </dd>
    </dl>
    <dl>
        <dt>이메일</dt>
        <dd>
            <input type="email" name ="email">
        </dd>
    </dl>
    <dl>
        <dt>휴대전화</dt>
        <dd>
            <input type="number" name ="phone">
        </dd>
    </dl>
    <input  class ="btn1" type="submit" value ="가입하기">
</form>
</div> 

{% endblock %} 